.Select {
  width: 100%;
}

.Select-IconDropdownIndicator {
  transition: all 0.3s;
}

.Select-IconDropdownIndicator svg {
  fill: #000;
}

.Select-IconDropdownIndicator__open {
  transform: rotate(180deg);
}

.theme-dark .Select-IconDropdownIndicator svg {
  fill: #fff;
}
